.resume-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  margin: 15px 0;
}

.image-container {
  width: 20%;
}

.image-container img {
  width: 95%;
  height: 100%;
  margin: auto;
}

.resume-info-container {
  width: 80%;
}

.event-item-list {
  display: flex;
  justify-content: space-around;
}

.topic-container {
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
}

.header-events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 2px solid grey;
}

.search-events {
  padding: 20px;
  width: 100%;
}

.search-events input {
  width: 100%;
}
