#prevent-image {
  width: 100%;
}

.container-event {
  position: relative;
}

.container-image {
  max-height: 500px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.event-title {
  position: absolute;
  top: 190px;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  color: aliceblue;
}
.event-details {
  width: 100%;
  padding: 25px 5px;
  display: flex;
  justify-content: space-between;
}

.event-description {
  width: 60%;
  height: 100%;
}
.business-data {
  width: 38%;
}

.business-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.business-details img {
  max-width: 40%;
  max-height: 100px;
  overflow: hidden;
}

.container-total-user {
  width: 60px;
  padding: 5px;
}

.resume-user-name {
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  margin: auto;
}

.reserves {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.item-resume-detail {
  width: 30%;
  text-align: center;
}

.item-resume {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.describe-event {
  padding: 20px 0;
  text-align: justify;
}

.user-containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.comments-container {
  margin: 10px 0;
  padding: 10px;
}

.item-comment {
  margin: 7px;
  padding: 7px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid grey;
}

.image-container-comments {
  width: 20%;
}

.message-container {
  width: 79%;
  text-align: end;
}

.comment-author {
  font-size: 0.6rem;
  font-weight: bold;
  color: dimgray;
}
